.page{
  width: min(100% - 2rem, 1200px);
  margin-inline: auto;
  margin-top: 0;
  margin-bottom: 0;
  box-sizing: border-box;
}

/*NAV*/
.menu-panel{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0 1rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
  line-height: 3em;
  font-family: sans;
  display: flex;
  justify-content: space-between;
}
.menu-panel_dark{
  background-color: rgb(44,44,44);
}
.menu{
  display: flex;
  list-style: none;
  margin: 0;
}
.menu-btn{
  box-sizing: border-box;
  display: inline-block;
  padding: 0 1em;
  text-decoration: none;
  transition: color .4s, background .4s ;
}
.menu-btn_dark{
  color: #fff;
  background-color: rgb(80,80,80);
}
.menu-btn_dark:hover{
  background-color: green;
}
.logo{
  display: flex;
  text-decoration: none;
  align-items: center;
}
.logo__img{
  height: 2em;
}
.logo__text{
  margin: 0;
  color: #fff;
  padding-left: .5em;
}

/*SECTION*/
.section{
  margin-top: 3rem;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}
.section_color_orange{
background-color:antiquewhite;
}
.cards{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
.cards__one-card{
  display: block;
  box-sizing: border-box;
  background-color:aquamarine;
  width: calc((100% - 2rem) / 3);
  height: 300px;
  border-radius: 10px;
  transition: 1s;
}

@media (max-width: 900px){
  .cards__one-card{
    width: calc((100% - 1rem) / 2);
  }
}
@media (max-width: 600px){
  .cards__one-card{
    width: 100%;
  }
}
